@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #111827;
    /* gray-900 */
}

::-webkit-scrollbar-thumb {
    background: #374151;
    /* gray-700 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
    /* gray-600 */
}

/* Wails Drag Region */
.wails-drag {
    --wails-draggable: drag;
}